<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IsProxy" value="True"/>
    <add key="SecretKey" value="14b9c0982c118e8b3663e0a42b204670d54271aaab9ca728dc3fa538a2aeb294"/>
    <add key="PartnerId" value="10002"/>
    <add key="ShopID" value="14854"/>
    <add key="ProxyServer" value=""/>
    <add key="ProxyUserName" value=""/>
    <add key="ProxyPassWord" value=""/>
    <add key="TimeOut" value="5000"/>
  </appSettings>
</configuration>
